#woo-floating-cart{
		width:60px;
		height:60px;
		position: fixed;
		
		background-color: black;
		color:#fff;
		z-index: 999999;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		text-align: center;
		-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
		box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
		opacity: 0;

		-webkit-animation: fade-in 250ms 1.25s 1 ease-in forwards; /* Safari 4+ */
		-moz-animation:    fade-in 250ms 1.25s 1 ease-in forwards; /* Fx 5+ */
		-o-animation:      fade-in 250ms 1.25s 1 ease-in forwards; /* Opera 12+ */
		animation:         fade-in 250ms 1.25s 1 ease-in forwards; /* IE 10+, Fx 29+ */
		
	}

	#woo-floating-cart.position-bottom-left{
		bottom:25px;
		left: 25px;
	}

	#woo-floating-cart.position-bottom-right{
		bottom:25px;
		right: 25px;
	}

	#woo-floating-cart a{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right:0;
		color:#fff;
		font-size: 32px;
		padding-top: 6px;
	}

	#woo-floating-cart .woo-floating-cart-item-count{
		background-color: #e84118;
		color:#fff;
		font-size: 18px;
		font-weight: bold;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		display: inline-block;
		width: 22px;
		height:22px;
		text-align: center;
		position: absolute;
		top:-5px;
		right:-5px;
		line-height: 18px;
		padding-top: 1px;
		z-index: 9999999;
		opacity: 0;
		-webkit-animation: fade-in 250ms 1.75s 1 ease-in forwards; /* Safari 4+ */
		-moz-animation:    fade-in 250ms 1.75s 1 ease-in forwards; /* Fx 5+ */
		-o-animation:      fade-in 250ms 1.75s 1 ease-in forwards; /* Opera 12+ */
		animation:         fade-in 250ms 1.75s 1 ease-in forwards; /* IE 10+, Fx 29+ */
	}

	

	@media only screen and (max-width:26.25em) { 
		#woo-floating-cart{
			display: none;
		}
	}

	@keyframes fade-in {
		0% {
		    opacity: 0;
		    -moz-transform: scale(0);
			-webkit-transform: scale(0);
			-o-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
		}
		100% {
			opacity: 1;
		    -moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}